<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dynamic Plugin Sample</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <div class="card-face-view">
            <div class="card-face-container">
                <p>
                    Hi <%= given_name %>, you have
                    <strong><%= accounts_count %> account<%= accounts_count === 1 ? '' : 's' %></strong>
                    that <%= accounts_count === 1 ? 'qualifies' : 'qualify' %> for our monthly savings program...
                </p>
                <div class="card-face-info">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                        <path d="M32 0c-17.2 0-31.2 14-31.2 31.2s14 31.2 31.2 31.2 30.8-13.6 30.8-31.2c0-17.2-13.6-31.2-30.8-31.2zM32 54.4c-12.8 0-22.8-10.4-22.8-22.8 0-12.8 10.4-22.8 22.8-22.8s22.8 10.4 22.8 22.8c0 12.8-10 22.8-22.8 22.8z"></path>
                        <path d="M32 14.4c-9.6 0-17.2 7.6-17.2 17.2s7.6 17.2 17.2 17.2 17.2-7.6 17.2-17.2c0-9.6-7.6-17.2-17.2-17.2zM32 40.8c-5.2 0-9.2-4-9.2-9.2s4-9.2 9.2-9.2 9.2 4 9.2 9.2c0 5.2-4 9.2-9.2 9.2z"></path>
                    </svg>
                    <div>Set your <strong>savings goal</strong> for each month</div>
                </div>
                <div class="card-face-info">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2.503 18.786a4.752 4.752 0 0 1 5.608-6.692l.754-.754 1.06 1.061-1.089 1.09a.75.75 0 0 1-.823.16 3.251 3.251 0 0 0-4.495 3.39l2.165-2.165a.75.75 0 0 1 1.06 0l1.769 1.768a.75.75 0 0 1 0 1.06L6.346 19.87a3.251 3.251 0 0 0 3.39-4.495.75.75 0 0 1 .161-.824l1.09-1.09 1.06 1.061-.754.754a4.752 4.752 0 0 1-6.692 5.608.75.75 0 0 1-.191-1.2l2.51-2.51-.706-.707-2.511 2.51a.75.75 0 0 1-1.2-.191Zm9.898-8.86-1.06-1.06.753-.754a4.752 4.752 0 0 1 6.691-5.609.75.75 0 0 1 .192 1.2l-2.51 2.51.707.708 2.51-2.51a.75.75 0 0 1 1.2.191 4.752 4.752 0 0 1-5.608 6.692l-.754.753-1.06-1.06 1.089-1.09a.75.75 0 0 1 .823-.16 3.251 3.251 0 0 0 4.495-3.39l-2.165 2.165a.75.75 0 0 1-1.06 0l-1.768-1.768a.75.75 0 0 1 0-1.06l2.165-2.166a3.251 3.251 0 0 0-3.39 4.495.75.75 0 0 1-.16.824l-1.09 1.09Zm.546 5.85a.75.75 0 0 0 0 1.06l4.95 4.95a.75.75 0 0 0 1.06 0l2.83-2.828a.75.75 0 0 0 0-1.06l-4.95-4.95a.75.75 0 0 0-1.061 0l-.884.884-7.687-7.688-.12-.119a1.75 1.75 0 0 0-.41-1.825l-.708-.707a1.75 1.75 0 0 0-2.474 2.475l.707.707a1.75 1.75 0 0 0 1.825.411l.12.12 7.686 7.686-.883.884Zm5.48 4.42-3.888-3.89 1.767-1.767 3.89 3.889-1.768 1.768ZM4.554 4.553a.25.25 0 0 0 0 .354l.707.707a.25.25 0 0 0 .354-.353l-.707-.708a.25.25 0 0 0-.354 0Z" clip-rule="evenodd"/>
                    </svg>
                    <div>Get access to our <strong>financial planning tools</strong></div>
                </div>
                </div>
                <div class="card-face-info">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                        <path d="M56.8 17.171h-16.839v-17.171l16.839 17.171zM37.466 20.999h19.335v41.533c0.004 0.808-0.652 1.464-1.46 1.468 0 0-0.004 0-0.004 0h-46.685c-0.808-0.004-1.456-0.656-1.456-1.46 0-0.004 0-0.004 0-0.008v-61.064c0-0.808 0.652-1.46 1.46-1.464v0h27.394l-0.040 19.531c-0.004 0.804 0.644 1.46 1.448 1.464 0.004 0 0.004 0 0.008 0v0zM20.735 19.351c-0.012 1.24-1.028 2.236-2.264 2.224-1.224-0.012-2.212-1-2.224-2.224 0-0.62-0.5-1.12-1.12-1.12s-1.12 0.5-1.12 1.12c0.008 2.040 1.388 3.816 3.364 4.328v1.28c0.036 0.62 0.568 1.092 1.188 1.056 0.568-0.032 1.020-0.488 1.056-1.056v-1.28c2.388-0.64 3.808-3.092 3.168-5.48-0.52-1.948-2.276-3.304-4.292-3.32-1.24 0-2.244-1.004-2.244-2.244s1.004-2.244 2.244-2.244c1.24 0 2.244 1.004 2.244 2.244 0 0.62 0.504 1.124 1.124 1.124s1.124-0.504 1.124-1.124c-0.004-2.040-1.388-3.816-3.364-4.324v-1.284c-0.040-0.62-0.572-1.092-1.192-1.056-0.572 0.032-1.024 0.488-1.056 1.056v1.284c-2.388 0.64-3.808 3.092-3.168 5.48 0.52 1.944 2.276 3.304 4.288 3.32 1.236 0 2.24 1.004 2.244 2.24v0zM51.197 54.697c0-0.664-0.536-1.2-1.2-1.2v0h-35.998c-0.664 0.004-1.196 0.548-1.188 1.212 0.004 0.656 0.536 1.184 1.188 1.188h35.998c0.664 0 1.2-0.536 1.2-1.2 0 0 0-0.004 0 0v0zM51.197 46.349c0-0.664-0.536-1.2-1.2-1.2v0h-35.998c-0.664 0.004-1.196 0.548-1.188 1.212 0.004 0.656 0.536 1.184 1.188 1.188h35.998c0.664 0 1.2-0.536 1.2-1.2v0zM51.221 38.002c0-0.664-0.536-1.2-1.2-1.2v0h-12.603c-0.66-0.004-1.204 0.528-1.208 1.188-0.008 0.664 0.524 1.204 1.188 1.212 0.008 0 0.016 0 0.020 0h12.603c0.664 0 1.2-0.536 1.2-1.2 0 0 0 0 0 0zM50.021 28.454h-12.603c-0.66-0.008-1.204 0.528-1.208 1.188-0.008 0.664 0.524 1.204 1.188 1.212 0.008 0 0.016 0 0.020 0h12.603c0.664-0.004 1.196-0.548 1.188-1.212-0.004-0.652-0.532-1.184-1.188-1.188z"></path>
                    </svg>
                    <div>Get <strong>detailed reports</strong> on your progress</div>
                </div>
            </div>
        </div>

        <div class="expanded-view">
            <h1>My Monthly Savings Program</h1>
            <div class="expanded-info">
                <img src="/public/images/image.jpg" class="main-image">
                <p>
                    Hi <%= given_name %>, you have
                    <strong><%= accounts_count %> account<%= accounts_count === 1 ? '' : 's' %></strong>
                    that <%= accounts_count === 1 ? 'qualifies' : 'qualify' %> for our monthly savings program!
                </p>
                <p class="compact-summary">
                    Set flexible savings goals and track your progress with our calculator and monthly reports.
                </p>
                <p class="full-content">
                    Learn how you can <strong>set aside money for your future goals</strong>, whether you're saving for education,
                    a new addition to your home, or that special vacation you've been wanting to go on!
                </p>
                <p class="full-content">
                    Our "My Monthly Savings" program allows you to specify <strong>how much you want to save</strong> each month.
                    The amount is completely flexible; you can set this once, or you change this amount as often as needed.
                </p>
                <p class="full-content">
                    Our <strong>Savings Calculator</strong> can help you figure out <strong>how much to save each month</strong>
                    in order to reach a specific savings goal, taking the mystery out of monthly savings.
                </p>
                <p class="full-content">
                    And you get <strong>monthly reports</strong> showing your savings activity, with helpful guidance on how to
                    get the most out of your savings.
                </p>
            </div>
        </div>
    </body>
</html>